.border-thick {
    border-width:10px !important;
}

.padding-15{
	padding: 15px !important;
}

.skill-grid{
	background: white;
	border: 1px solid;
}

.game-background{
	background-image: url("images/background.jpg");
}

//reviewed
